    <div>
        <div class="float-left">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="float-right">
            <a class="btn btn-success" href="">Add</a>
        </div>
    </div>
    <br><br>
    <table class="table table table-striped">
        <thead class="bg-success">
          <tr>
            <th scope="col">Wing</th>
            <th scope="col">Target 2022-23</th>
            <th scope="col">Achieved (July22-May.23)</th>
            <th scope="col">Percentage (%)</th>
            <th scope="col">Target 2023-24</th>
            <th scope="col">Achieved (July23-May.24)</th>
            <th scope="col">Percentage (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr class="">
            <th scope="row">1.  Am & J</th>
            <td>1513.5</td>
            <td>1284.66</td>
            <td>84.88</td>
            <td>2047.16</td>
            <td>2035.96</td>
            <td>99.45</td>
          </tr>
          <tr class="">
            <th scope="row">2. WB</th>
            <td>3411.55</td>
            <td>2553.45</td>
            <td>74.85</td>
            <td>2118.00</td>
            <td>1418.00</td>
            <td>66.95</td>
          </tr>
          <tr class="">
            <th scope="row">3. Ad & ME</th>
            <td>0.0</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>357.75</td>
            <td>289.52</td>
            <td>80.93</td>
          </tr>
          <tr class="">
            <th scope="row">4. UN</th>
            <td>73.4</td>
            <td>26.48</td>
            <td>36.07</td>
            <td>239.51</td>
            <td>238.52</td>
            <td>99.59</td>
          </tr>
          <tr class="">
            <th scope="row">5. ADB</th>
            <td>2017.1</td>
            <td>1074.75</td>
            <td>53.28</td>
            <td>2941.27</td>
            <td>2691.27</td>
            <td>91.50</td>
          </tr>
          <tr class="">
            <th scope="row">6. Co & N</th>
            <td>43.0</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>66.20</td>
            <td>66.20</td>
            <td>100.00</td>
          </tr>
          <tr class="">
            <th scope="row">7. Europe</th>
            <td>661.9</td>
            <td>367.10</td>
            <td>55.46</td>
            <td>115.53</td>
            <td>1087.33</td>
            <td>97.47</td>
          </tr>
          <tr class="">
            <th scope="row">8. Asia</th>
            <td>1080.2</td>
            <td>668.19</td>
            <td>62.55</td>
            <td>1309.63</td>
            <td>100.800</td>
            <td>7.70</td>
          </tr>
          <tr class="">
            <th scope="row"><b>Total Target</b></th>
            <td>8,789</td>
            <td>5974.63</td>
            <td>67.98</td>
            <td>10195.05</td>
            <td>7972.60</td>
            <td>77.76</td>
          </tr>
        </tbody>
      </table>
