{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Add new wing
{% endblock %}


<!-- Main Content Goes Here..... -->
{% block content %}
<div class="container mt-5">

  <br>
  <h3 class="text-center">Borrowing Application</h3>
  <br>
  <h5 class="text-center">--Update Data</h5>
  <br>

    <form class="px-4 py-3" method="post">
        {% csrf_token %}
            <div class="form-group">
        {{ form|crispy }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}


{% block extra_footer %}
<script>
    $(document).ready(function() {
      $('#id_co_financer').select2();
    });
</script>
{% endblock %}